@using Simple.SAMS.Contracts.Competitions
@model CompetitionType
<div class="control-group">
    @Html.Label("Name", Html.ResourceText("Name"), new { @class = "control-label" })
    <div class="controls">
        @Html.TextBox("Name", Model.Name, new Dictionary<string, object> { { "data-val", "true" }, { "data-val-required", Html.ResourceText("NameIsRequired") } })
    </div>
</div>
<div class="control-group">
    @Html.Label("PlayersCount", Html.ResourceText("PlayersCount"), new { @class = "control-label" })
    <div class="controls">
        @* Html.TextBox("PlayersCount", string.Empty, new Dictionary<string, object> { { "data-val", "true" }, { "data-val-required", Html.ResourceText("PlayersCountIsRequired") } })*@

        @Html.DropDownList("PlayersCount", (new[]{8,16,24,32,48,64}).Select(p=> new SelectListItem(){ Text = p.ToString(), Value = p.ToString(), Selected = Model != null ? p==Model.PlayersCount :  p == 8 }))
    </div>
</div>
<div class="control-group">
    @Html.Label("WildcardPlayersCount", Html.ResourceText("WildcardPlayersCount"), new { @class = "control-label" })
    <div class="controls">
        @Html.TextBox("WildcardPlayersCount")
    </div>
</div>
<div class="control-group">
    @Html.Label("QualifyingPlayersCount", Html.ResourceText("QualifyingPlayersCount"), new { @class = "control-label" })
    <div class="controls">
        @Html.TextBox("QualifyingPlayersCount")
    </div>
</div>
<div class="control-group">
    @Html.Label("QualifyingWildcardPlayersCount", Html.ResourceText("QualifyingWildcardPlayersCount"), new { @class = "control-label" })
    <div class="controls">
        @Html.TextBox("QualifyingWildcardPlayersCount")
    </div>
</div>
<div class="control-group">
    @Html.Label("QualifyingToFinalPlayersCount", Html.ResourceText("QualifyingToFinalPlayersCount"), new { @class = "control-label" })
    <div class="controls">
        @Html.TextBox("QualifyingToFinalPlayersCount")
    </div>
</div>

<div class="control-group">
    @Html.Label("PairsCount", Html.ResourceText("PairsCount"), new { @class = "control-label" })
    <div class="controls">
        @Html.TextBox("PairsCount")
    </div>
</div>
<div class="control-group">
    @Html.Label("WildcardPairsCount", Html.ResourceText("WildcardPairsCount"), new { @class = "control-label" })
    <div class="controls">
        @Html.TextBox("WildcardPairsCount")
    </div>
</div>
<div class="control-group">
    @Html.Label("QualifyingPairsCount", Html.ResourceText("QualifyingPairsCount"), new { @class = "control-label" })
    <div class="controls">
        @Html.TextBox("QualifyingPairsCount")
    </div>
</div>
<div class="control-group">
    @Html.Label("QualifyingWildcardPairsCount", Html.ResourceText("QualifyingWildcardPairsCount"), new { @class = "control-label" })
    <div class="controls">
        @Html.TextBox("QualifyingWildcardPairsCount")
    </div>
</div>
<div class="control-group">
    @Html.Label("QualifyingToFinalPaisCount", Html.ResourceText("QualifyingToFinalPaisCount"), new { @class = "control-label" })
    <div class="controls">
        @Html.TextBox("QualifyingToFinalPaisCount")
    </div>
</div>
<div class="control-group">
    @Html.Label("HasConsolation", Html.ResourceText("HasConsolation"), new { @class = "control-label" })
    <div class="controls">
        @Html.CheckBox("HasConsolation")
    </div>
</div>
<div class="control-group">
    @Html.Label("Method", Html.ResourceText("Method"), new { @class = "control-label" })
    <div class="controls">
        @Html.DropDownList("Method", new SelectListItem[] { new SelectListItem() { Value = "0", Text = Html.ResourceText("EliminationTournament") }, })
    </div>
</div>
<div class="control-group">
    @Html.Label("Ranking", Html.ResourceText("Ranking"), new { @class = "control-label" })
    <div class="controls">
        @Html.DropDownList("Ranking", new SelectListItem[] { 
                                                               new SelectListItem()
                                                                   {
                                                                       Value = Ranking.National.ToString(), 
                                                                       Text = Html.ResourceText("Ranking.National")
                                                                   }, 
                                                               new SelectListItem()
                                                                   {
                                                                       Value = Ranking.EuropeInternational.ToString(), 
                                                                       Text = Html.ResourceText("Ranking.EuropeInternational")
                                                                   }, 
                                                               new SelectListItem()
                                                                   {
                                                                       Value = Ranking.YouthInternational.ToString(), 
                                                                       Text = Html.ResourceText("Ranking.YouthInternational")
                                                                   }, 
                                                           })
    </div>
</div>
