@using SAMS.Models
@{
    ViewContext.Controller.ViewBag.GroupTitle = Html.ResourceText("Competitions");
    ViewContext.Controller.ViewBag.MenuItems = new[]
                            {
                                new MenuItem{Text = Html.ResourceText("CompetitionTypes"), Action = "Index", Controller="CompetitionTypes"},
                            };    
}


@using (Html.BeginForm("Create", "CompetitionTypes", FormMethod.Post, new { id = "mainForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@Html.Resource("CreateCompetitionTypeHeader")</legend>
        @Html.Partial("_CompetitionTypeFormFields")
        <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="@Html.ResourceText("CreateCompetitionType")"/>
            </div>
    </fieldset>
    

}    