@using SAMS.Models
@{
    ViewContext.Controller.ViewBag.GroupTitle = Html.ResourceText("Competitions");
    ViewContext.Controller.ViewBag.MenuItems = new[]
                            {
                                new MenuItem{Text = Html.ResourceText("CompetitionTypes"), Action = "Index", Controller="CompetitionTypes"},
                            };    
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@Html.Resource("CreateCompetitionTypeHeader")</legend>
        <ul>
            <li>
                @Html.Label("Name", Html.ResourceText("Name"))
                @Html.TextBox("Name")
            </li>
            <li>
                @Html.Label("PlayersCount", Html.ResourceText("PlayersCount"))
                @Html.TextBox("PlayersCount")
            </li>
            <li>
                @Html.Label("Method", Html.ResourceText("Method"))
                @Html.DropDownList("Method", new SelectListItem[]{ new SelectListItem(){Value = "0", Text = Html.ResourceText("EliminationTournament")}, })
            </li>
        </ul>
        <input type="submit" value="@Html.ResourceText("CreateCompetitionType")"/>
    </fieldset>
    

}    