@using SAMS.Models
@model IEnumerable<Simple.SAMS.Contracts.Competitions.CompetitionType>
@{
    ViewContext.Controller.ViewBag.GroupTitle = Html.ResourceText("Competitions");
    ViewContext.Controller.ViewBag.Title = Html.ResourceText("CompetitionTypes");
    ViewContext.Controller.ViewBag.MenuItems = new[]
                            {
                                new MenuItem{Text = Html.ResourceText("CompetitionsList"), Action = "Index", Controller="Competitions"},
                                new MenuItem{Text = Html.ResourceText("CompetitionTypes"), Action = "Index", Controller="CompetitionTypes"},
                                new MenuItem{Text = Html.ResourceText("Import"), Action = "Import", Controller="Competitions"},
                                new MenuItem{Text = Html.ResourceText("CreateCompetitionLink"), Action = "Create", Controller="Competitions"}
                            };    
}
<nav>
    <ul>
        <li>@Html.ActionLink(Html.ResourceText("NewCompetitionType"), "Create", "CompetitionTypes")</li>
    </ul>
</nav>

<table class="sortable">
    <thead>
        <tr>
            <th class="span4" data-sort-type="text">@Html.Resource("CompetitionTypeNameHeader")</th>
            <th class="span2"></th>
            <th class="span2"></th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 0;
        }
        @foreach (var item in Model)
        {
            <tr class="item@(index++ % 2 == 0 ? "" : " alternate")">
                <td>@item.Name</td>
                <td>@Html.ActionLink(Html.ResourceText("Edit"), "Edit", new { id = item.Id })</td>
                <td><a href="#" class="delete" data-key="@item.Id" data-text="@item.Name">@Html.Resource("Delete")</a></td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("a.delete", "table").click(function (event) {
                event.preventDefault();
                var target = $(this);
                var id = target.data("key");
                var text = target.data("text");
                var dialogContainer = $("div#deleteCompetitionTypeDialog");
                if (dialogContainer.length == 0) {
                    dialogContainer = $("<div/>").attr("id", "deleteCompetitionTypeDialog");
                }

                function closeDialog() {
                    dialogContainer.dialog("close");
                }

                dialogContainer.text("@Html.ResourceText("DeleteConfirmationTitle") " + text + "? ").dialog({
                    modal: true,
                    title: "@Html.ResourceText("DeleteConfirmationTitle")",
                    buttons: [
                        {
                            text: "@Html.ResourceText("Cancel")",
                            click: closeDialog
                        },
                        {
                            text: "@Html.ResourceText("ConfirmDelete")",
                            click: function () {
                                closeDialog();
                                target.closest("tr").hide();
                                $.post("@Url.Action("Delete", "CompetitionTypes")", { id: id });
                            }

                        }
                    ]
                });
            });
        });
    </script>
}