@using SAMS.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @Html.ResourceText("SAMS") | ITA</title>
    <link rel='icon' href='~/Images/favicon.ico' type='image/x-icon' />
    <link rel='shortcut icon' href='~/Images/favicon.ico' type='image/xicon' />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-rtl.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/jQueryUi/jquery-ui-1.9.1.custom.min.css" type="text/css" rel="stylesheet" />
    
    <link href="~/Content/datepicker.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/UpdateResults.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/tournament.css" type="text/css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="rtl">
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    @Html.ActionLink("Simple. SAMS | ITA", "Index", "Home", null, new { @class = "brand" })
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            @Html.MenuItem(Html.ResourceText("Home"), "Index", "Home", Html.ResourceText("Home"))
                            @Html.MenuItem(Html.ResourceText("Competitions"), "Index", "Competitions", Html.ResourceText("Competitions"))

                            @if (Context.Request.IsAuthenticated && Context.User.IsInRole("admin"))
                            {
                                @Html.MenuItem(Html.ResourceText("Admin"), "Users", "Account", Html.ResourceText("Admin"))
                            }
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </header>
    <hr class="space" />
    <div class="container content">
        <div class="subheader">
        <h1>@ViewContext.Controller.ViewBag.GroupTitle</h1>
        <div class="row">
            @if (ViewContext.Controller.ViewBag.MenuItems != null)
            {
                <ul class="nav nav-pills">
                    @foreach (MenuItem menuItem in ViewContext.Controller.ViewBag.MenuItems)
                    {
                        @Html.MenuItem(menuItem)
                    }
                    @*                @Html.MenuItem(Html.ResourceText("CompetitionsList"), "Index", "Competitions")
                @Html.MenuItem(Html.ResourceText("CompetitionTypes"), "Index", "CompetitionTypes")
                @Html.MenuItem(Html.ResourceText("Import"), "Import", "Competitions")
                @Html.MenuItem(Html.ResourceText("CreateCompetitionLink"), "Create", "Competitions")*@
                </ul>
            }
        </div>
        @if (ViewContext.Controller.ViewBag.Title != null)
        {
            <h2>@ViewContext.Controller.ViewBag.Title</h2>
        }

        </div>
        <p>
            @RenderBody()
        </p>
    </div>
    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Simple. SAMS</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.9.1.custom.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/underscore.1.3.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.overscroll.min.js"></script>
    <script type="text/javascript" src="~/Scripts/JSLangExtensions.string.js"></script>
    <script type="text/javascript" src="~/Scripts/Simple.js"></script>
    <script type="text/javascript" src="~/Scripts/Simple.ContinuesEdit.js"></script>
    <script type="text/javascript" src="~/Scripts/Shell.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/CompetitionMatches.js")"></script>
    
    <script type="text/javascript">
        $(function () {
            $(".date").each(function () {
                var textInput = $("input[type=text]", this);
                
                textInput.datepicker({
                    dateFormat: "dd/mm/yy",
                    isRTL: true,
                    onClose: function () {
                        textInput.data("visible", false);
                    }, 
                    onSelect: function () {
                        textInput.focus();
                    }
                });
                
                function hide() {
                    textInput.datepicker("hide");
                    textInput.data("visible", false);
                }
                function show() {
                    textInput.datepicker("show");
                    textInput.data("visible", true);
                }
                $(".trigger", this).click(function () {
                    if (textInput.data("visible")) {
                        hide();
                    } else {
                        show();
                    }
                });
            });
        });
    </script>

    @RenderSection("scripts", required: false)
    
</body>
</html>
