@using Simple
@using Simple.SAMS.Contracts.Competitions
@model SAMS.Models.CompetitionDetailsModel
<div class="row-fluid">
    <div class="span4">
        <a  href="@Url.Action("BriefDetails", "CompetitionTypes", new { id = Model.Type.Id })" 
            target="popup" data-template="CompetitionTypeDetailsPopup"
            id="CompetitionType">@Model.Type.Name</a>,
    
        <i>@Model.StartTime @Model.EndTime</i>
    </div>
    <div class="span4">
        <b>@Html.Resource("MainReferee")</b>
        @Model.MainRefereeName @(Model.MainRefereePhone.NotNullOrEmpty() ? ", " + Model.MainRefereePhone : string.Empty)
    </div>
    <div class="span4">
        <b>@Html.Resource("Site")</b>
        @Model.Site @(Model.SitePhone.NotNullOrEmpty() ? ", " + Model.SitePhone : string.Empty)
    </div>
</div>
