@model SAMS.Models.CompetitionDetailsModel
<div class="competitionPlayersContainer">
    <div class="row-fluid">

        <div class="span2">
            @Html.Resource("FilterByName")
        </div>
        <div class="span2">
            @Html.TextBox("NameFilter")
        </div>
        <div class="span2"></div>
        <div class="span4">
            @if (Model.CanAddToQualifying || Model.CanAddToFinal)
            {
                <button type="button" class="btn AddCompetitionPlayer">@Html.Resource("AddNewPlayer")</button>
            }
        </div>
        <div class="span2">
            <button style="display:none" type="button" class="btn PrintPlayersList">@Html.Resource("PrintMatchesDraw")</button>
        </div>
    </div>
    <table class="table sortable">

        <thead>
            <tr>
                <th class="span1" data-sort-type="text"></th>
                <th class="span2" data-sort-type="text">@Html.Resource("PlayerLocalNameHeader")</th>
                <th class="span2" data-sort-type="text">@Html.Resource("PlayerEnglishNameHeader")</th>
                <th class="span2" data-sort-type="text">@Html.Resource("PlayerIdNumber")</th>
                <th class="span2" data-sort-type="text">@Html.Resource("PlayerBirthDateHeader")</th>
                <th class="span2" data-sort-type="text">@Html.Resource("PlayerCountryHeader")</th>
                <th class="span1" data-sort-type="text">@Html.Resource("PlayerGenderHeader")</th>
                <th class="span1" data-sort-type="numeric">@Html.Resource("PlayerNationalRankHeader")</th>
                <th class="span1" data-sort-type="numeric">@Html.Resource("PlayerEuropeInternationalRankHeader")</th>
                <th class="span1" data-sort-type="numeric">@Html.Resource("PlayerYouthInternationalRankHeader")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @{
                var index = 0;
            }
            @foreach (var item in Model.Players)
            {
                <tr class="player item@(index++ % 2 == 0 ? "" : " alternate")" data-key="@item.Id">
                    <td>
                        @Html.Resource("CompetitionPlayerSource." + item.Source.ToString())
                    </td>
                    <td>
                        @*Html.ActionLink(item.LocalLastName + " " + (item.LocalFirstName ?? string.Empty), "Details", new { id = item.Id })*@

                        @(item.LocalFirstName + " " + item.LocalLastName)
                    </td>
                    <td>@(item.EnglishFirstName + " " + item.EnglishLastName)</td>
                    <td>@item.IdNumber</td>
                    <td>@(item.BirthDate.HasValue ? item.BirthDate.Value.ToShortDateString() : string.Empty)</td>
                    <td>@item.Country</td>
                    <td>@(item.IsFemale ? Html.Resource("FemaleAbbr") : Html.Resource("MaleAbbr"))</td>
                    <td>@item.NationalRank</td>
                    <td>@item.EuropeInternationalRank</td>
                    <td>@item.YouthInternationalRank</td>
                    <td>
                        @if (item.Replaceable)
                        {
                            <a href="#" class="ReplaceCompetitionPlayer">@Html.Resource("ReplaceCompetitionPlayer")</a>
                        }
                    </td>
                    <td>
                        <a href="#" class="RemoveCompetitionPlayer">@Html.Resource("DeleteCompetitionPlayer")</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



</div>
