@using Simple
@using Simple.SAMS.Contracts.Competitions
@model SAMS.Models.CompetitionDetailsModel
<div class="row-fluid">
    <dl>
        <dt>@Html.Resource("CompetitionLastModified")</dt>
        <dd>@Model.LastModified</dd>
    </dl>
    <dl>
        <dt>@Html.Resource("CompetitionStatus")</dt>
        <dd>@(Html.Resource("CompetitionStatus." + Model.Status))</dd>
    </dl>
    <dl>
        <dt>@Html.Resource("CompetitionReferenceId")</dt>
        <dd>@Model.ReferenceId</dd>
    </dl>

    <div class="competition_status">
        @if ((int)Model.Status < (int)CompetitionStatus.Started)
        {

            <div>
                @Html.ActionLink(Html.ResourceText("UpdateCompetitionPlayers"), "UpdatePlayers", new { id = Model.Id })
            </div>
            <hr class="space" />
            if (Model.Players.Length > 0)
            {
            <div class="row-fluid">
@*                @if (Model.Type.QualifyingPlayersCount > 0 && !Model.QualifyingPlayingStarted)
                {
                    <div class="span4">
                        @using (Html.BeginForm("PositionCompetitionPlayers", "Competitions", FormMethod.Post))
                        {
                            @Html.Hidden("CompetitionId", Model.Id)
                            @Html.Hidden("section", CompetitionSection.Qualifying)
                            <button class="btn btn-primary">@Html.Resource("PositionQualifyingPlayers")</button>
                        }
                    </div>
                }*@
                @if (!Model.PlayingStarted)
                {
                    <div class="span4">
                        @using (Html.BeginForm("PositionCompetitionPlayers", "Competitions", FormMethod.Post))
                        {
                            @Html.Hidden("CompetitionId", Model.Id)
                            @Html.Hidden("section", CompetitionSection.Final)
                            <button class="btn btn-primary">@Html.Resource("PositionFinalPlayers")</button>
                        }
                    </div>
                }
            </div>
            }
            <hr class="space" />
            <div>
                @using (Html.BeginForm("StartCompetition", "Competitions", FormMethod.Post))
                {
                    @Html.Hidden("CompetitionId", Model.Id)
                    <button class="btn btn-primary">@Html.Resource("StartCompetition")</button>
                }
            </div>

        }
        else if (Model.Status == CompetitionStatus.Started)
        {
            if (Model.Players.Length > 0)
            {
            <div class="row-fluid">
                @if (Model.Type.QualifyingPlayersCount > 0 && !Model.QualifyingPlayingStarted)
                {
                    <div class="span4">
                        @using (Html.BeginForm("PositionCompetitionPlayers", "Competitions", FormMethod.Post))
                        {
                            @Html.Hidden("CompetitionId", Model.Id)
                            @Html.Hidden("section", CompetitionSection.Qualifying)
                            <button class="btn btn-primary">@Html.Resource("PositionQualifyingPlayers")</button>
                        }
                    </div>
                }
                @if (!Model.PlayingStarted)
                {
                    <div class="span4">
                        @using (Html.BeginForm("PositionCompetitionPlayers", "Competitions", FormMethod.Post))
                        {
                            @Html.Hidden("CompetitionId", Model.Id)
                            @Html.Hidden("section", CompetitionSection.Final)
                            <button class="btn btn-primary">@Html.Resource("PositionFinalPlayers")</button>
                        }
                    </div>
                }
            </div>
            }
            <div>
                @using (Html.BeginForm("FinishCompetition", "Competitions", FormMethod.Post))
                {
                    @Html.Hidden("CompetitionId", Model.Id)
                    <button class="btn btn-primary">@Html.Resource("FinishCompetition")</button>
                }

            </div>
        }

    </div>
</div>

