@using Simple.SAMS.Contracts.Competitions
@model SAMS.Models.CompetitionDetailsModel
@{
    
    ViewContext.Controller.ViewBag.GroupTitle = Model.Name;
    ViewContext.Controller.ViewBag.Title = "";
    ViewContext.Controller.ViewBag.MenuItems = null;    
}
@Html.Hidden("CompetitionId", Model.Id)
 @Html.Partial("_CompetitionHeaderView", Model)


<div class="tabbable">
    <ul id="tabs" class="nav nav-tabs">
        <li class="active">
            <a href="#matches" data-toggle="tab">@Html.Resource("CompetitionMatchesTab")</a>
        </li>
        <li><a href="#updateResults" data-toggle="tab">
            @Html.Resource("CompetitionUpdateResultsTab")
        </a></li>
        <li><a href="#players" data-toggle="tab">
            @Html.Resource("CompetitionPlayersTab")
        </a>
        </li>
        <li><a href="#matchesList" data-toggle="tab">
            @Html.Resource("CompetitionMatchesListTab")
        </a>
        </li>        
        <li><a href="#moreInfo" data-toggle="tab">
            @Html.Resource("MoreInfoTab")
        </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="matches">
            @if (Model.Type.Method == CompetitionMethod.Knockout)
            {
                @Html.Partial("_KnockoutMatches", Model);
            }
        </div>
        <div class="tab-pane" id="updateResults">
            <div class="competitionUpdateResultsContainer">
                @Html.Partial("_UpdateResultsView", Model)
            </div>
        </div>
        <div class="tab-pane" id="players">
            <div class="competitionPlayersContainer">
                @Html.Partial("_CompetitionPlayers", Model.Players)
            </div>
        </div>
        <div class="tab-pane" id="matchesList">
            <div class="matchesListContainer">
                @Html.Partial("_MatchesList", Model.Matches)
            </div>
        </div>
        <div class="tab-pane" id="moreInfo">
            @Html.Partial("_MoreInfo", Model)
        </div>
        </div>
</div>
@section scripts{
    <script type="text/javascript">

        $(function () {
            var resources = {
                QuarterFinal: "@Html.ResourceText("QuarterFinal")",
                SemiFinal: "@Html.ResourceText("SemiFinal")",
                Final: "@Html.ResourceText("Final")",
                ThirdPlace: "@Html.ResourceText("ThirdPlace")",
                Round: "@Html.ResourceText("Round")",
                Cancel: "@Html.ResourceText("Cancel")",
                RemoveCompetitionPlayerConfirm: "@Html.ResourceText("RemoveCompetitionPlayerConfirm")",
                RemoveCompetitionPlayerConfirmText: "@Html.ResourceText("RemoveCompetitionPlayerConfirmText")",
                RemoveCompetitionPlayerConfirmTitle: "@Html.ResourceText("RemoveCompetitionPlayerConfirmTitle")",
                ReplaceCompetitionPlayerConfirm: "@Html.ResourceText("ReplaceCompetitionPlayerConfirm")",
                ReplaceCompetitionPlayerConfirmText: "@Html.ResourceText("ReplaceCompetitionPlayerConfirmText")",
                ReplaceCompetitionPlayerConfirmTitle: "@Html.ResourceText("ReplaceCompetitionPlayerConfirmTitle")",
                AddCompetitionPlayerConfirm: "@Html.ResourceText("AddCompetitionPlayerConfirm")",
                AddCompetitionPlayerConfirmText: "@Html.ResourceText("AddCompetitionPlayerConfirmText")",
                AddCompetitionPlayerConfirmTitle: "@Html.ResourceText("AddCompetitionPlayerConfirmTitle")"
            };

            var competitionDetailsConfig = {
                model: {
                    Name: "@Model.Name",
                    Type: {
                        Id: @(Model.Type.Id),
                        PlayersCount: @(Model.Type.PlayersCount),
                        Name: "@Model.Type.Name"
                    },
                    StartTime: "@Model.StartTime",
                    EndTime: "@Model.EndTime"
                },
                tournamentPrinntCss: "@Url.Content("~/Static/CSS/tournament.css")",
                sendUpdatesUrl: "@Url.Action("UpdateMatchResults", "Competitions")",
                removeCompetitionPlayerUrl: "@Url.Action("RemoveCompetitionPlayer", "Competitions")",
                getPlayerIdByIdNumberUrl: "@Url.Action("GetPlayerId", "Players")",
                replacePlayerUrl: "@Url.Action("ReplaceCompetitionPlayer", "Competitions")",
                addPlayerUrl: "@Url.Action("AddCompetitionPlayer", "Competitions")",
                createPlayerUrl: "@Url.Action("Create", "Players")",
                getMatchesUrl: "@Url.Action("GetSectionMatches", "Competitions")",
                resources: resources
            };
            
            var competitionDetails = new Simple.CompetitionDetails(competitionDetailsConfig);


        });
    </script>
}