@{
}


@using (Html.BeginForm("Import", "Competitions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@Html.Resource("ImportCompetitions")</legend>
        <label for="competitionsFile">@Html.Resource("CompetitionsFileLabel")</label>
        <div>
                <input type="file" name="competitionsFile" id="competitionsFile"/>
        </div>
        <hr class="space"/>
        <div class="row-fluid">
            <div class="span3">
        <input type="submit" class="btn btn-primary stretch"  value="@Html.ResourceText("StartImportCompetition")" />
                </div>
        </div>
    </fieldset>
}
