@{
}


@if (!ViewData.ModelState.IsValid)
{
    <h4>@Html.Resource("ImportCompetitionErrorHeader")</h4>
    <ul>
    @foreach (var errorMessage in ViewData.ModelState.Keys)
    {
        <li>
            @Html.Resource("ImportCompetitionError." + errorMessage);
        </li>
    }
    </ul>
}

@using (Html.BeginForm("Import", "Competitions", FormMethod.Post, new { enctype = "multipart/form-data",id="competitions" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@Html.Resource("ImportCompetitions")</legend>
        <label for="competitionsFile">@Html.Resource("CompetitionsFileLabel")</label>
        <div>
                <input type="file" name="competitionsFile" id="competitionsFile"/>
        </div>
        <hr class="space"/>
        <div class="row-fluid">
            <div class="span3">
        <input type="submit" class="btn btn-primary stretch"  value="@Html.ResourceText("StartImportCompetition")" />
                </div>
        </div>
    </fieldset>
}

@using (Html.BeginForm("ImportPlayers", "Competitions", FormMethod.Post, new { enctype = "multipart/form-data",id="competitionsPlayers" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@Html.Resource("ImportCompetitionsPlayers")</legend>
        <label for="competitionsPlayersFile">@Html.Resource("CompetitionsPlayersFileLabel")</label>
        <div>
                <input type="file" name="competitionsPlayersFile" id="competitionsPlayersFile"/>
        </div>
        <hr class="space"/>
        <div class="row-fluid">
            <div class="span3">
        <input type="submit" class="btn btn-primary stretch"  value="@Html.ResourceText("StartImportCompetitionsPlayers")" />
                </div>
        </div>
    </fieldset>
}



@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $("form#competitions").submit(function(e) {
                var file = $("#competitionsFile").val();
                if (file == "") {
                    $("#competitionsFile").css("color", "red");
                    return false;
                } else {
                    return true;
                }
            });

            $("#competitionsFile").change(function () {
                $(this).css("color", "black");
            });

            $("form#competitionsPlayers").submit(function (e) {
                var file = $("#competitionsPlayersFile").val();
                if (file == "") {
                    $("#competitionsPlayersFile").css("color", "red");
                    return false;
                } else {
                    return true;
                }
            });

            $("#competitionsPlayersFile").change(function () {
                $(this).css("color", "black");
            });
        });
    </script>
}