@model IEnumerable<Simple.SAMS.Contracts.Competitions.CompetitionHeaderInfo>
@{
    ViewBag.Title = "Index";
}

<h2>Competitions</h2>
<nav>
    <ul>
        <li>@Html.ActionLink("Types", "Index", "CompetitionTypes")</li>
        <li>@Html.ActionLink("Import", "Import", "Competitions")</li>
        <li>@Html.ActionLink("Create", "Create", "Competitions")</li>
    </ul>
</nav>
<hr/>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Start Time</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Type.Text</td>
                <td>@item.StartTime</td>
                <td>@Html.ActionLink("Update Players", "UpdatePlayers", new {id = item.Id})</td>
            </tr>
        }
    </tbody>
</table>