@model IEnumerable<Simple.SAMS.Contracts.Competitions.CompetitionHeaderInfo>
@{
    
    ViewContext.Controller.ViewBag.Title = Html.ResourceText("CompetitionsList");
}


<table class="sortable">
    <thead>
        <tr>
            <th class="span5" data-sort-type="text">@Html.Resource("CompetitionNameHeader")</th>
            <th class="span3" data-sort-type="text">@Html.Resource("CompetitionTypeHeader")</th>
            <th class="span2" data-sort-type="date">@Html.Resource("CompetitionStartTimeHeader")</th>
            <th class="span2" data-sort-type="date">@Html.Resource("CompetitionLastModifiedHeader")</th>
        </tr>
    </thead>
    <tbody>
        
        @{
            var index = 0;
        }
        @foreach(var item in Model)
        {
            <tr class="item@(index++ % 2 == 0 ? "":" alternate")">
                <td>
                    @Html.ActionLink(item.Name, "Details", new { id=item.Id })
                </td>
                <td>@item.Type.Name</td>
                <td>@item.StartTime.ToShortDateString()</td>
                <td class="@((DateTime.UtcNow.Subtract(item.LastModified)).TotalHours < 2 ?"modifiedRecently" :"")">@item.LastModified</td>
                <td>@Html.ActionLink(Html.ResourceText("UpdateCompetitionPlayers"), "UpdatePlayers", new {id = item.Id})</td>
            </tr>
        }
    </tbody>
</table>