@using SAMS.Models
@model IEnumerable<Simple.SAMS.Contracts.Competitions.CompetitionHeaderInfo>
@{
    
    ViewContext.Controller.ViewBag.Title = Html.ResourceText("CompetitionsList");
}


<table >
    <thead>
        <tr>
            <th class="span6">@Html.Resource("CompetitionNameHeader")</th>
            <th class="span3">@Html.Resource("CompetitionTypeHeader")</th>
            <th class="span3">@Html.Resource("CompetitionStartTimeHeader")</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Type.Text</td>
                <td>@item.StartTime</td>
                <td>@Html.ActionLink(Html.ResourceText("UpdateCompetitionPlayers"), "UpdatePlayers", new {id = item.Id})</td>
            </tr>
        }
    </tbody>
</table>