@model Simple.SAMS.Contracts.Competitions.CompetitionHeaderInfo
@{
    ViewBag.GroupTitle = @Model.Name;
    ViewBag.Title = Html.ResourceText("UpdateCompetitionPlayersHeader");
}


@using (Html.BeginForm("UpdatePlayers", "Competitions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.Hidden("competitionId", ViewContext.RouteData.Values["id"]);
    <fieldset>
        <legend>@Html.Resource("LoadCompetitionPlayersHeader")</legend>
        <label for="playersFile">@Html.Resource("PlayersFileLabel")</label>
        <div>
            <input type="file" name="playersFile" id="playersFile"/>
        </div>
        <hr class="space" />
        <div class="row-fluid">
            <div class="span3">
                <input type="submit" class="btn btn-primary stretch" value="@Html.ResourceText("UpdateCompetitionPlayers")" />
            </div>
        </div>
    </fieldset>
}


@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $("form").submit(function(e) {
                var file = $("#playersFile").val();
                if (file == "") {
                    $("#playersFile").css("color", "red");
                    return false;
                } else {
                    return true;
                }
            });

            $("#playersFile").change(function() {
                $(this).css("color", "black");
            });
        });
    </script>
}